<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search movie"
    aria-label="Search movie"
    aria-describedby="button-addon2"
    #search
  />
  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      type="button"
      id="button-addon2"
      (click)="onSearch(search.value)"
    >
      Search
    </button>
  </div>
  <label style="margin-top: 0.5rem; margin-left: 0.5rem; margin-right: 0.3rem;">Sort by</label>
  <select [(ngModel)]="sortBy" class="form-control" id="exampleFormControlSelect1">
    <option *ngFor="let sort of soryByList">{{ sort }}</option>
  </select>
</div>
<div
  style="display: block;"
  class="btn-group btn-group-toggle"
  (change)="triggerGenreChange = !triggerGenreChange"
>
  <label class="btn-outline-secondary" ngbButtonLabel *ngFor="let genre of genres | keyvalue">
    <input type="checkbox" ngbButton [(ngModel)]="genres[genre.key]" /> {{ genre.key }}
  </label>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Director</th>
      <th scope="col">Genre</th>
      <th scope="col">99Popularity</th>
      <th scope="col">IMDB Score</th>
      <th scope="col" *ngIf="isLoggedIn">
        <button type="button" class="btn btn-outline-secondary" routerLink="/newmovie">
          Add Movie
        </button>
        <button type="button" class="btn btn-outline-secondary" routerLink="/logs">
          Logs
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies | movieFilter: genres:sortBy:triggerGenreChange">
      <td>{{ movie.name }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.genre.join(', ') }}</td>
      <td>{{ movie['99popularity'] }}</td>
      <td>{{ movie.imdb_score }}</td>
      <td *ngIf="isLoggedIn">
        <button type="button" class="btn btn-outline-secondary" routerLink="/movie/{{ movie._id }}">
          Edit
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="deleteMovie(movie._id)">
          Delele
        </button>
      </td>
    </tr>
  </tbody>
</table>
