<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search movie"
    aria-label="Search movie"
    aria-describedby="button-addon2"
    #search
  />
  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      type="button"
      id="button-addon2"
      (click)="onSearch(search.value)"
    >
      Search
    </button>
  </div>
  <label>Sort by</label>
  <select [(ngModel)]="sortBy" class="form-control" id="exampleFormControlSelect1">
    <option *ngFor="let sort of soryByList">{{ sort }}</option>
  </select>
</div>
<div class="btn-group btn-group-toggle" (change)="triggerGenreChange = !triggerGenreChange">
  <label class="btn-primary" ngbButtonLabel *ngFor="let genre of genres | keyvalue">
    <input type="checkbox" ngbButton [(ngModel)]="genres[genre.key]" /> {{ genre.key }}
  </label>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies | movieFilter: genres:sortBy:triggerGenreChange">
      <th scope="row">1</th>
      <td>{{ movie.name }}</td>
      <td>{{ movie['99popularity'] }}</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
